@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: #79d12b;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
margin-top: 10%;
}

.wrapper h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 52px;
    margin-bottom: 62px;
    text-align: center;
}

.Team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10%;
    box-shadow: 20px;
}

.Team .team-member{
    border-radius: 3%;
    background: #fff;
    margin:5px ;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
    
}

.Team .team-member:hover{
    color: greenyellow;
    transition: 2s;
     cursor: pointer;
}

h3{
    color:#81c644 ;
    font-size: 26px;
    margin-top:50px ;
}

.role{
    color: darkorange;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}

p{
    font-family: 'Poppins', sans-serif;
}

.Team-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;

    
}

.Team-img img{
    width: 100px;
    height: 100px;
    padding: 10px;
}





/* font-family: 'Bebas Neue', cursive; */
/*  */
/* font-family: 'Open Sans', sans-serif; */
/*  */
/* font-family: 'Poppins', sans-serif; */
/*  */
/*  */
